.login {
  position: relative;
  padding: 30px;
  width: 50%;
  min-height: 80vh;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 19px -2px rgba(255, 184, 0, 0.75);
  .login-form {
    padding: 50px;
    margin: 30px;

    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: #353535;
      font-weight: 700;
    }
    .log {
      text-align: center;
      margin-top: 40px;
      .btn {
        color: #353535;
        border-radius: 8px;
        background: #ffb800;
        margin-top: 20px;
        padding: 8px 20px;
        font-size: 18px;
        &:hover {
          background: #353535;
          color: #ffb800;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
    }

    label {
      font-weight: 600;
      color: #353535;
    }
  }
}
@media (max-width: 1150px) {
  .login {
    padding: 5px;
    width: 80%;
  }
}
